@mixin mq($viewport: null) {
  @media screen and (min-width: $viewport + 1) {
    @content;
  }
}
@mixin mq-max($viewport: null) {
  @media screen and (max-width: $viewport) {
    @content;
  }
}
@mixin reset($type){
  $resets: (
    ul: (
      list-style: none,
      margin: 0,
      padding: 0,
      li: (
        margin: 0,
        padding: 0
      )
    )
  );
  @each $prop, $value in map-get($resets, $type) {
    @if type-of($value) == 'map' {
      & > #{$prop} {
        @each $sub-prop, $sub-value in $value {
          #{$sub-prop}: $sub-value;
        }
      }
    } @else {
      #{$prop}: $value;
    }
  }
}