$color-white: #ffffff;
$color-light-grey: #EBEDF0;
$color-bg-grey: #EBEFF6;
$color-grey: #C8C8C8;
$color-divider: #E8F0FD;
$color-divider-darker: #D1D5DB;
$color-text-grey: #77869E;
$color-dark-blue: #042C5C;
$color-blue: #3380FE;
$color-danger: #F56C6C;

$page-container-padding: 20px;

$tab: 768px;

$breakpoints: (
  "tab" $tab,
);